@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.welcome
		.h1
			font-size: 40px
	.header-contacts
		font-size: 13px
	
	.s-services .owl-carousel .owl-item .carousel-services-item
		flex-direction: column
		
	.s
		&-king, &-reviews, &-partners
			padding: 8% 0

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.s-call
		&::before
			width: 100%
		.callback
			padding: 0
	
	.main-footer .footer-column.footer-addr p.footer-phone
		font-size: 24px


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.welcome
		p
			span
				font-size: 14px
				
	.button
		padding: 12px 36px
		
	.quotes
		display: none
	
	.partners
		.owl-nav
			> div
				&.owl-prev
					left: 0
				&.owl-next
					right: 0
				


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.header-composition
		p
			font-size: 14px
			margin-top: 15px
		.welcome
			.h1
				font-size: 30px
			p
				span
					font-size: 10px
		.button
			padding: 14px 40px
			margin-top: 10px
	.top-line
		.phone
			top: 90px
			
	.fotorama__nav
		z-index: -1

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	.welcome
		.h1
			font-size: 30px
		p
			span
				font-size: 10px


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

